html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

p {
    margin: 20px auto;
    padding: 0px 30px;
    font-size: 1.5em;
    line-height: 140%;
    font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width:800px) {
    /* Desktop style */
    p {
        max-width: 800px;
    }
}

#alias {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}
